<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="img/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">RESET DE SENHA</p>
         <form role="form" ng-submit="resetSenha(userPass)">
            <p class="text-center">As senhas devem ter no mínimo 6 caracteres e devem ser iguais.</p>

            <div class="form-group has-feedback">
               <label for="id-password" class="text-muted">Senha</label>
               <input id="id-password" type="password" name="password" class="form-control" ng-model="userPass.senha1" required />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>

            <div class="form-group has-feedback">
               <label for="id-password-confirm" class="text-muted">Repita a Senha</label>
               <input type="password" id="id-password-confirm" name="confirmPassword" class="form-control" ng-model="userPass.senha2" required />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>


            <button type="submit"
                    ng-disabled="!userPass.senha1 || !userPass.senha2 || userPass.senha1 != userPass.senha2"
                    class="btn btn-danger btn-block">Confirmar Senha e Entrar</button>
         </form>
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy; {{app.year}} - {{ app.name }}
         <br/>{{app.description}}</span>
   </div>
</div>