<h3>Auditoria Item
</h3>

<div class="row">
    <div class="col-lg-12">
        <!-- START panel-->
        <div id="panelDemo14" class="panel panel-default">
            <div class="panel-heading"><h4></h4></div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="buscarItens()">


                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Item</label>

                            <div class="col-sm-8">
                                <input type="text"
                                       ng-model="nomeItensBusca"
                                       placeholder="Busca de Item"
                                       uib-typeahead="item as item.nome for item in getItemURLAsync($viewValue)"
                                       typeahead-loading="loadingItem"
                                       typeahead-no-results="noResultsItem"
                                       typeahead-on-select="itemSelecionadoF($model); nomeItensBusca='';"
                                       class="form-control"
                                />
                                <i ng-show="loadingItem" class="glyphicon glyphicon-refresh"></i>

                                <div ng-show="noResultsItem">
                                    <i class="glyphicon glyphicon-remove"></i> Não foi encontrado nenhum item
                                </div>
                            </div>
                            <div class="col-sm-2"><input type="button" class="btn"
                                                         ng-class="itemSelecionado._id > -1? 'btn-danger':''"
                                                         ng-click="deletarItem()" value="Remover"/></div>

                            <div class="col-sm-12 div-margintop10px" ng-if="itemSelecionado._id > -1">
                                <table st-table="rowCollection" class="table table-striped"
                                       id="tableItemAtu" name="tableItemAtu">
                                    <thead>
                                    <tr>
                                        <th class="table-bordered col-sm-2">Id</th>
                                        <th class="table-bordered col-sm-10">Nome</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="table-bordered col-sm-2 thvermelho"
                                            ng-bind="itemSelecionado._id"></td>
                                        <td class="table-bordered col-sm-10 thvermelho"
                                            ng-bind="itemSelecionado.nome"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </fieldset>

                    <div class="panel">
                        <div class="col-sm-6 text-center panel-footer">
                            <input type="submit" class="btn btn-primary" value="Auditar"/>
                        </div>
                        <div class="col-sm-6 text-center panel-footer">
                            <input type="button"
                                   class="btn btn-danger"
                                   value="Limpar Busca"
                                   ng-click="limparItens()"
                            />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="auditorias.length > 0">
    <div class="col-lg-12">
        <!-- START panel-->
        <div id="panelDemo13" class="panel panel-default">
            <div class="panel-heading"><h4></h4></div>
            <div class="panel-body">

                <div class="panel panel-default" ng-if="auditorias.length > 0">
                    <button type="button"
                            uib-tooltip="Para abrir no excel é necessário texto para colunas delimitado por | para formatação"
                            class="btn btn-link"
                            ng-csv="exportAuditoria"
                            csv-header="headerAuditoria"
                            field-separator="|"
                            filename="{{filenameAuditoria}}"><em class="fa fa-arrow-circle-down"></em> Exportar auditoria para .csv
                    </button>
                </div>


                <table st-table="rowCollection" class="table table-striped"
                       id="tableItem" name="tableItem">
                    <thead>
                    <tr>
                        <th class="col-lg-1">Id Mov</th>
                        <th class="col-lg-2">Data</th>
                        <th class="col-lg-1">Tipo</th>
                        <th class="col-lg-2">Sub Tipo</th>
                        <th class="col-lg-1">Qtd</th>
                        <th class="col-lg-1">Tx cv</th>
                        <th class="col-lg-1">Qtd Total</th>
                        <th class="col-lg-1">Estoque</th>
                        <th class="col-lg-1">Usu. Inclusão</th>
                        <th class="col-lg-1">Info</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="au in auditorias">
                        <td class="col-lg-1">{{au.cod_movimento}}</td>
                        <td class="col-lg-2">{{au.dta_inclusao | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                        <td class="col-lg-1" ng-class="au.tipo == 'S' ? 'thvermelho':'tdazul'">{{au.tipo}}</td>
                        <td class="col-lg-2">{{au.sub_tipo}}</td>
                        <td class="col-lg-1">{{au.qtd}}</td>
                        <td class="col-lg-1">{{au.tx_cv_og}}</td>
                        <td class="col-lg-1">{{au.qtd_total}}</td>
                        <td class="col-lg-1">{{au.estoque}}</td>
                        <td class="col-lg-1">{{au.usuario_inclusao}}</td>
                        <td class="col-lg-1"
                            uib-tooltip="Veiculo : {{au.nome_veiculo}}, Motorista : {{au.nome_motorista}}, Conferencia : {{au.nome_conferente}}, Pessoa : {{au.nome_pessoa}}"
                        ><em class="icon-info"></em></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>