<h3>
    Wellcome
    <small>Aqui estão seus avisos, e os principais assuntos de maior importância.</small>
</h3>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Notificações</div>
            </div>
            <div class="panel-body">
                <p>Por enquanto não existe nada por aqui.</p>
                <!--
                <h4>Asynchronous results</h4>
                <pre>Model: {{asyncSelected}}</pre>

                <input type="text"
                       ng-model="asyncSelected"
                       placeholder="Busca de Pessoas"
                       uib-typeahead="nome for nome in getPessoas($viewValue)"
                       typeahead-loading="loadingLocations"
                       typeahead-no-results="noResults"
                       class="form-control"
                />
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                <div ng-show="noResults">
                    <i class="glyphicon glyphicon-remove"></i> No Results Found
                </div>
                <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>
                -->
            </div>
        </div>
    </div>
</div>

